  /* Estilos para los dos menús */
  
  #MenuN,
  #ProfileN {
      z-index: 2;
  }
  /* Estilos para el fondo de la página */
  
  #popup {
      display: none;
  }
  
  #popupC {
      display: none;
  }
  
  .card {
      background-color: #025D73;
      color: #fff;
  }
  
  .admin-background {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 1100px;
      width: 100%;
      height: calc(100vh - 130px);
      background-color: white;
      border: 2px solid black;
      background-color: #11ADC4;
      border-radius: 2%;
      padding: 20px;
      z-index: 1;
  }
  /* Estilos para el encabezado */
  
  .header-file {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: 100%;
      height: 130px !important;
  }
  /* Estilos para el título */
  
  .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      text-transform: capitalize;
      font-size: 24px;
      margin-top: 30px;
      margin-left: 30px;
      font-weight: bolder;
      color: #025D73;
      flex-direction: row;
      font-family: 'Inter', sans-serif;
  }
  /* Estilos para el contenido */
  
  .admin-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
  }
  /* Estilos para la paginación */
  
  .pagination-style {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .pagination-style span,
  a {
      background-color: #76DAE4;
      color: white;
      text-decoration: none;
      margin: 0 5px;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }
  /* Estilos para los botones */
  
  .button-container {
      position: absolute;
      right: 0;
      top: 350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      margin-left: auto;
  }
  
  .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 150px;
      height: 58px;
      border-radius: 15%;
      margin: auto;
  }
  
  .button {
      margin-top: 10px;
      width: 155px;
      height: 58px;
      background-color: #76DAE4;
      color: white;
  }
  
  .button-selected {
      margin-top: 10px;
      width: 155px;
      height: 58px;
      background-color: #11ADC4;
      color: white;
  }
  /* Estilos para la tabla */
  
  table {
      width: 100%;
      border-collapse: collapse;
      margin: auto;
  }
  /* Estilos para las filas de la tabla */
  
  tr {
      background-color: azure;
      height: 50px;
  }
  /* Estilos para las celdas de encabezado de la tabla */
  
  th {
      background-color: #76DAE4;
      color: white;
      font-size: 18px;
      text-align: center;
      padding: 10px;
  }
  /* Estilos para las celdas de la tabla */
  
  td {
      text-align: center;
      padding: 10px;
      font-size: 16px;
  }
  
  #delete {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 80px;
      height: 30px;
      color: white;
      border-color: #E33386;
      border-radius: 15%;
      background-color: #E33386;
      margin: auto;
  }
  
  #edit {
      background-color: #11ADC4;
      border-color: #fff;
  }
  
  #edit:hover {
      background-color: #76DAE4;
  }
  
  .pagination-style {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .pagination-style span,
  a {
      background-color: #76DAE4;
      color: white;
      text-decoration: none;
      margin: 10px 5px;
      padding: 5px 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
  }
  
  nav {
      margin-top: 15px;
  }