
#CartaIncidencia{
    position: absolute;
    width: 1020px;
    height: 539px;
    left: 470px;
    background: #35B5C9;
    border-radius: 20px;
}

#boton1c2{
    width: 170px;
    height: 70px;
    background: #EBEFEF;
    border-radius: 10px;
    transform: rotate(0.26deg);
}


#boton2c2{
    width: 170px;
    height: 70px;
    margin-left: 18px;
    background: #025D73;
    border-radius: 10px;
    transform: rotate(0.26deg);
}

#boton3c2{
    width: 170px;
    height: 70px;
    background: #EBEFEF;
    border-radius: 10px;
    margin-left: 18px;
    transform: rotate(0.26deg);
}

/*Dentro de carta*/
#primerRectangulo2{
    box-sizing: border-box;
    width: 438px;
    height: 150px;
    border: 1px solid #025D73;
    border-radius: 15px;
}

#catalunya{
    box-sizing: border-box;
    position: absolute;
    width: 207px;
    height: 35px;
    left: 78px;
    top: 135px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#checkboxCat{
    margin-left: 280px;
    margin-top: 37px;
    
}

#checkCarta2{
background-color: #33cfe4;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 28px;
}

#segundoRectangulo2{
    box-sizing: border-box;
    position: absolute;
    width: 430px;
    height: 353px;
    left: 525px;
    top: 103px;
    border: 1px solid #025D73;
    border-radius: 15px;

}

#provinciaSelect{
    box-sizing: border-box;
    position: absolute;
    width: 363px;
    height: 34px;
    left: 100px;
    top: 213px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#incidenciaInci{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 35px;
    left: 25px;
    top: 69px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}
#definicionInci{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 33px;
    left: 26px;
    top: 118px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
    font-size: 15px;
    }

#indicacionesInci{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 33px;
    left: 26px;
    top:167px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
    font-size: 15px;
}

#buscadorExpe2{
    box-sizing: border-box;
    position: absolute;
    width: 439px;
    height: 182px;
    margin-left: 47px;
    top: 298px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#linkMenuCarta1c2, #linkMenuCarta2c2, #linkMenuCarta3c2{
    text-decoration:none;
}

#linkMenuCarta2c2{
    color: #FBFBFD;
}

#linkMenuCarta1c2, #linkMenuCarta3c2 {
    color: #025D73;
}

#helper {
    margin-left: 600px;
    margin-top:00px;
}