
#CartaIncidencia{
    position: absolute;
    width: 1020px;
    height: 539px;
    left: 470px;
    background: #35B5C9;
    border-radius: 20px;
}

#boton1{
    width: 170px;
    height: 70px;
    background: #025D73;
    border-radius: 10px;
    transform: rotate(0.26deg);
}


#boton2{
    width: 170px;
    height: 70px;
    margin-left: 18px;
    background: #EBEFEF;
    border-radius: 10px;
    transform: rotate(0.26deg);
}

#boton3{
    width: 170px;
    height: 70px;
    background: #EBEFEF;
    border-radius: 10px;
    margin-left: 18px;
    transform: rotate(0.26deg);
}

#primerRectangulo{
    box-sizing: border-box;
    width: 438px;
    height: 360px;
    border: 1px solid #025D73;
    border-radius: 15px;
}


#numTelf{
    box-sizing: border-box;
    position: absolute;
    width: 186px;
    height: 49px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#codigoLlamada{
    box-sizing: border-box;
    position: absolute;
    width: 186px;
    height: 49px;
    left: 285px;

    
    background: #FFFFFF;
    /* Bordes CLTTT */
    
    border: 3px solid #76DAE4;
    border-radius: 10px;
}
#tiempoLlamada{
    box-sizing: border-box;

    position: absolute;
    width: 385px;
    height: 47px;
    left: 87px;
    top: 230px;   
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}
#notaComuna{
    box-sizing: border-box;
    position: absolute;
    width: 385px;
    height: 148px;
    left: 87px;
    top: 300px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#segundoRectangulo{
    box-sizing: border-box;
    position: absolute;
    width: 430px;
    height: 221px;
    left: 525px;
    top: 103px;
    border: 1px solid #025D73;
    border-radius: 15px;

}

#tipoInci{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 34px;
    left: 25px;
    top: 20px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#incidenciaInci{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 35px;
    left: 25px;
    top: 69px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}
#definicionInci{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 33px;
    left: 26px;
    top: 118px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
    font-size: 15px;
    }

#indicacionesInci{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 33px;
    left: 26px;
    top:167px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
    font-size: 15px;
}

#buscadorExpe{
    box-sizing: border-box;
    position: absolute;
    width: 430px;
    height: 113px;
    margin: auto;
    top: 240px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#linkMenuCarta1, #linkMenuCarta2, #linkMenuCarta3{
    text-decoration:none;
}

#linkMenuCarta1{
    color: #FBFBFD;
}

#linkMenuCarta2, #linkMenuCarta3 {
    color: #025D73;
}

#helper {
    margin-left: 600px;
    margin-top:00px;
}