#titulo {
    text-align: center;
}

#primero{
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 195px;
    left: 56px;
    top: 155px;

    /* Boton principal Hover */

    border: 2px solid #025D73;
    border-radius: 10px;
}

#segundo {
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 130px;
    left: 535px;
    top: 60px;

    /* Boton principal Hover */

    border: 2px solid #025D73;
    border-radius: 10px;
}

#tercero {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 189px;
    left: 56px;
    top: 370px;

    /* Boton principal Hover */

    border: 2px solid #025D73;
    border-radius: 10px;
}
#cuarto {
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 100px;
    left: 535px;
    top: 205px;

    /* Boton principal Hover */

    border: 2px solid #025D73;
    border-radius: 10px;
}
#quinto{
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 350px;
    left: 535px;
    top: 320px;

/* Boton principal Hover */

border: 2px solid #025D73;
border-radius: 10px;
}
#ExpeCodigo{
    box-sizing: border-box;

position: absolute;
width: 166px;
height: 34px;
left: 21px;
top: 10px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}
#ExpeLlamada{
    box-sizing: border-box;

    position: absolute;
    width: 166px;
    height: 34px;
    left: 200px;
    top: 10px;

    background: #FFFFFF;
    /* Bordes CLTTT */

    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#ExpeTelefono{
    box-sizing: border-box;

position: absolute;
width: 166px;
height: 35px;
left: 21px;
top: 52px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}
#ExpeFecha{
    box-sizing: border-box;

position: absolute;
width: 163px;
height: 35px;
left: 200px;
top: 52px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}

#ExpeNota{
    box-sizing: border-box;
    position: absolute;
    width: 355px;
    height: 64px;
    left: 21px;
    top: 109px;
    background: #FFFFFF;
    /* Bordes CLTTT */
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#ExpeAgencia{
    box-sizing: border-box;

position: absolute;
width: 343px;
height: 25px;
left: 25px;
top: 30px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}

#ExpeEstado{
    box-sizing: border-box;

position: absolute;
width: 343px;
height: 26px;
left: 25px;
top: 74px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}

#ExpeDefinicion{
    box-sizing: border-box;

position: absolute;
width: 343px;
height: 27px;
left: 25px;
top: 100px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}
#ExpeInstrucciones{
    box-sizing: border-box;

position: absolute;
width: 343px;
height: 26px;
left: 25px;
top: 140px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}
#ExpeTipo{
    box-sizing: border-box;

position: absolute;
width: 343px;
height: 25px;
left: 25px;
top: 20px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}

#ExpeIncidencia{
    box-sizing: border-box;

position: absolute;
width: 343px;
height: 26px;
left: 25px;
top: 60px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}

#ExpeCat {
    box-sizing: border-box;

position: absolute;
width: 212px;
height: 30px;
left: 25px;
top: 18px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}


#ExpeProvincia{
    box-sizing: border-box;

    position: absolute;
    width: 103px;
    height: 27px;
    left: 25px;
    top: 55px;
    
    background: #FFFFFF;
    /* Bordes CLTTT */
    
    border: 3px solid #76DAE4;
    border-radius: 10px;
}
#ExpeMunicipi{
    box-sizing: border-box;

position: absolute;
width: 103px;
height: 27px;
left: 260px;
top: 55px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;
}
#ExpeComarca{
    box-sizing: border-box;

position: absolute;
width: 103px;
height: 27px;
left: 142px;
top: 55px;

background: #FFFFFF;
/* Bordes CLTTT */

border: 3px solid #76DAE4;
border-radius: 10px;

}

#ExpinputVia, #ExpinputCalle, #ExpinputCasa, #ExpinputEscalera, #ExpinputPiso, #ExpinputPuerta {
    box-sizing: border-box;
    width: 220px;
    height: 34px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
    left: 20px;
}











/*Dentro de carta*/





#checkCarta2{
background-color: #33cfe4;
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 28px;
}

#segundoRectangulo2{
    box-sizing: border-box;
    position: absolute;
    width: 430px;
    height: 353px;
    left: 525px;
    top: 103px;
    border: 1px solid #025D73;
    border-radius: 15px;

}

#provinciaSelect{
    box-sizing: border-box;
    position: absolute;
    width: 363px;
    height: 34px;
    left: 100px;
    top: 213px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#opcionesCarta2{
    box-sizing: border-box;
    position: absolute;
    width: 376px;
    height: 220px;
    left: 26px;
    top:100px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
    font-size: 15px;
}

#buscadorExpe2{
    box-sizing: border-box;
    position: absolute;
    width: 439px;
    height: 182px;
    margin-left: 47px;
    top: 298px;
    background: #FFFFFF;
    border: 3px solid #76DAE4;
    border-radius: 10px;
}

#linkMenuCarta1c2, #linkMenuCarta2c2, #linkMenuCarta3c2{
    text-decoration:none;
}

#linkMenuCarta2c2{
    color: #FBFBFD;
}

#linkMenuCarta1c2, #linkMenuCarta3c2 {
    color: #025D73;
}

#helper {
    margin-left: 600px;
    margin-top:00px;
}
#botonLoc1{
    width: 98px;
    height: 50px;
    margin-left: 20px;
    margin-top: 30px;
    background: #025D73;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    }
#botonLoc2{
    width: 71px;
    height: 50px;
    margin-left: 10px;
    margin-top: 30px;
    background: #76DAE4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    }
    #botonLoc3{
        width: 98px;
        height: 50px;
        margin-left: 10px;
        margin-top: 30px;
        background: #76DAE4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
    #botonLoc4{
        width: 98px;
        height: 50px;
        margin-left: 10px;
        margin-top: 30px;
        background: #76DAE4;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
    }
#botonesLocalizacion{
    margin-left: auto;
}

#botonCarta2{
    text-decoration:none;
}