    /* Estilos para los dos menús */
    
    #MenuN,
    #ProfileN {
        z-index: 2;
    }
    /* Estilos para el fondo de la página */
    
    .admin-background {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1100px;
        width: 100%;
        height: calc(100vh - 130px);
        background-color: white;
        border: 2px solid black;
        background-color: #11ADC4;
        border-radius: 2%;
        padding: 20px;
        z-index: 1;
    }
    /* Estilos para el encabezado */
    
    .header-file {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 130px !important;
    }
    /* Estilos para el título */
    
    .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        font-size: 24px;
        margin-top: 30px;
        margin-left: 30px;
        font-weight: bolder;
        color: #025D73;
        flex-direction: row;
        font-family: 'Inter', sans-serif;
    }
    /* Estilos para el contenido */
    
    .admin-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    /* Estilos para los botones */
    
    .buttons-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
    }
    
    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 58px;
        border-radius: 30%;
        flex-direction: column;
        margin: auto;
    }
    
    .button {
        background-color: #76DAE4;
        color: white;
    }
    /* Estilos para los botones */
    
    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        /* se agrega esta propiedad */
    }
    
    .button {
        background-color: #76DAE4;
        color: white;
        margin-left: 10px;
        /* se agrega esta propiedad */
    }
    /* Estilos para la tabla */
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin: auto;
    }
    /* Estilos para las filas de la tabla */
    
    tr {
        background-color: azure;
        height: 50px;
    }
    /* Estilos para las celdas de encabezado de la tabla */
    
    th {
        background-color: #76DAE4;
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 10px;
    }
    /* Estilos para las celdas de la tabla */
    
    td {
        text-align: center;
        padding: 10px;
        font-size: 16px;
    }
    /* Estilos para las celdas de la tabla */
    
    .estados {
        vertical-align: middle;
    }
    /* Estilos para los círculos de estado */
    
    .circle {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }
    /* Estilos para los estados */
    
    .estat {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }
    
    .popup {
        display: inline-block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
    }
    
    .popup-contents {
        display: contents;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .popup-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #11ADC4;
        width: 400px;
        height: 400px;
        margin: auto;
        padding: 20px;
        border-radius: 5px;
        position: relative;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
    }
    
    .popupCircle:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    }
    
    .popupCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        font-size: 10px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        margin: 10px;
        flex-basis: calc(33.33% - 20px);
    }
    
    .popUpestat {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
    
    .table tr.selected {
        background-color: yellow;
    }