body{
    background-color: #EBEFEF;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: #156897;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#CartaIncidencia{
    position: absolute;
    width: 1020px;
    height: 539px;
    left: 470px;
    top: 120px;
    background: #35B5C9;
    border-radius: 20px;
}

#CartaIncidencia2{
    position: absolute;
    width: 1020px;
    height: 720px;
    left: 470px;
    top: 120px;
    background: #35B5C9;
    border-radius: 20px;
}
#CartaIncidenciaExpe{
    position: absolute;
    width: 1020px;
    height: 615px;
    left: 250px;
    top: 140px;
    background: #35B5C9;
    border-radius: 20px;
}

