body{
    background-color: #EBEFEF;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: #156897;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#CartaIncidencia{
    position: absolute;
    width: 1020px;
    height: 539px;
    left: 470px;
    background: #35B5C9;
    border-radius: 20px;
}

